body {
  background-color: ani;
}

.child1 {
  display: table-cell;
}

.child2 {
  display: flex;
  flex-direction: column;
  display: table-cell;
  width: 15%;
}

.logo {
  max-block-size: 150px;
}

.nav {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #293e2f;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: after 5px;
  border-color: black;
}

.linkBar {
  color: antiquewhite;
  text-decoration: none;
}

.linkBar:hover {
  color: white;
  font-size: 110%;
}

.imagecard {
  text-align: center;
  border: 1px solid gray;
  border-radius: 25px;
  width: 30%;
  transform: translateX(400px);
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: rgb(251, 246, 246);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.imagetitle {
  font-size: 25px;
}

.card-text {
  font-size: 18px;
}

.imagetitle:hover {
  text-decoration: underline;
}

.image {
  height: 250px;
  width: 250px;
}

.checklist {
  color: black;
  background-color: rgb(220, 234, 220);
  border-style: dotted;
  border-width: 2px;
  border-color: black;
  padding-right: 150px;
  padding-left: 20px;
  padding-bottom: 100%;
  text-align: left;
  width: 50%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.filterTitle {
  font-size: 20px;
}

.checkout {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.pageFooter {
  height: 100px;
  width: 100%;
  text-align: center;
  color: antiquewhite;
  align-items: center;
  background-color: #293e2f;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-color: black;
}

.detailPage {
  text-align: center;
  justify-content: space-evenly;
}

.imagePage {
  height: 500px;
  width: 500px;
}
